name: Angular CI Workflow

on: [push]

env:
  DOCKER_IMAGE_NAME: ""
  SONAR_ORGANIZATION: ""
  SONAR_PROJECT_KEY: ""
  NODEJS_APP_SOURCE_DIR: "."

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
      packages: write
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0  

    - name: Run Custom Angular.js action
      uses: ./.github/actions/node
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        sonar_token: ${{ secrets.SONAR_TOKEN }}
        sonar_args: >
          -Dsonar.organization=${{ env.SONAR_ORGANIZATION }}
          -Dsonar.projectKey=${{ env.SONAR_PROJECT_KEY }}
          -D sonar.sources=${{ env.NODEJS_APP_SOURCE_DIR }}
        docker_image_name: ${{ env.DOCKER_IMAGE_NAME || github.event.repository.name }}
        dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
        dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}
        source_dir: ${{ env.NODEJS_APP_SOURCE_DIR }}
